gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Flutter/Dart
/.dart_tool/
/.packages
/build/
ios/Flutter/.last_build_id
pubspec.lock
*.iml

# Android
*.apk
*.ap_
*.aab
*.so
*.h
*.o
*.class
*.jar
*.keystore
*.jks

# iOS
DerivedData/
*.xcuserstate
*.xcworkspace
Pods/
